.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
}

.main {
  padding: 5rem 0;
}

.startingForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 5px;
  padding: 3rem;
  .roombtn {
    margin: 5px 5px;
  }
}
