.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
}

.main {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .roombtn{
    margin: auto 5px;
  }
}
