.container {
    background-color: white;
    max-width: 100%;

    margin: auto 2rem auto 0;
    // position: relative;
    // top: 95%;
    // left: 2rem;
    .formgrp {
        background-color: green;
        // .msgInput {
            // background-color: red;
        // }
    }

}